<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="titulo">Demo Form: NgModel</h2>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <div class="alert alert-primary" role="alert">
            The product name is: {{productName}}
          </div>
          <label for="productNameInput">Product Name</label>
          <input type="text" name="productName" class="form-control input-button" placeholder="Product Name"
            [(ngModel)]="productName" (ngModelChange)="onChange($event)" ngModel>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>